organization        = "event-management"
platform            = "event-management"
platform_short      = "em"
cloud               = "gcp"
environment         = "dev"
customer            = "shared"
region              = "northamerica"
owner               = "event-management-team"
repository          = "event-management-platform"
cost_center         = "transformation"
data_classification = "internal"
criticality         = "medium"
